<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

<body>

  <div class="container">
    <!-- START OF NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ESG Project Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Analysis
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/">ESG Goldrush</a>
              <a class="dropdown-item" href="/country/">Country ESG Ratings/Analysis</a>
              <a class="dropdown-item" href="/company">Corporate ESG Ratings/Analysis</a>
              <a class="dropdown-item" href="/dictionary/">Data Dictionary</a>
              <a class="dropdown-item" href="/api/v1.0/country-ESG">Country Data API v1.0</a>
              <a class="dropdown-item" href="/api/v1.0/company-ESG">Company Data API v1.0</a>
              </div>
          </li>
          </ul>
        </div>
    </nav>

    <!-- END OF NAVBAR -->
        <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dsx2vdn7gpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div>
        <h3><b><center>Conclusion: Game over. ESG is too little, too late, too ineffective</h3></center></b><br><br>

        <p><h3><blockquote>1)ESG, previously SRI or Socially Responsible Investing, is primarily focused on shareholder engagement.<br><br>
        “This article asks how sustainable investing contributes to societal goals…<br><br>
        We distinguish three impact mechanisms: shareholder engagement, capital allocation, and indirect impacts, concluding that the impact of shareholder engagement is well supported in the literature, the impact of capital allocation only partially, and indirect impacts lack empirical support.<br><br>
        Our results suggest that <b>investors who seek impact should pursue shareholder engagement throughout their portfolio</b>, allocate capital to sustainable companies whose growth is limited by external financing conditions, and screen out companies based on the absence of specific environmental, social, and governance practices that can be adopted at reasonable costs...<br><br>

        For policy makers, we highlight that sustainable investing helps diffuse good business practices but is unlikely to drive a deeper transformation without additional policy measures.”
        <i>Can Sustainable Investing Save the World? Reviewing the Mechanisms of Investor Impact
        Julian F. Kölbel, Florian Heeb, Falko Paetzold, Organization & Environment, June 25, 2020</i></blockquote><br><br>

        <p><h3><blockquote>2)Most ESG shareholder engagement goes nowhere.<br><br>
        Shareholder votes are never actually presented for shareholder vote or are routinely defeated at shareholder meetings.  Those ESG proposals that do get defeated also routinely just call for more disclosure, risk assessment, and oversight, rather than requesting specific actions or policies.
        Even those shareholder proposals that do get voted on and usually receive around 30 % of support, are shareholder proposals that are very benign and do not commit companies to any specific actions.<br><br>
        “Based on our analysis, the most significant change in investors’ voting behavior pertains to environmental and social issues, as these proposals are earning record levels of support in recent years.
        While support levels for management proposals have not changed significantly, … a number of changes in proponent filings and proxy voting behavior on shareholder proposals…:
        Fewer investors sitting on the sidelines on environmental & social shareholder proposals, as evidenced by the sharp decrease in recorded “abstain” votes;
        Shifting environmental and social proposal focus towards disclosure, risk assessment, and oversight, rather than requesting specific actions or policies.
        More shareholders voting in support of environmental & social proposals, witnessed by the rapidly growing proportion of shareholder proposals receiving at least 30-percent support; and
        increased willingness of companies and proponents to work together to forge a solution, supported by a record proportion of environmental and social proposals being withdrawn prior to the vote.”
        <i>The Long View: US Proxy Voting Trends on E&S Issues from 2000 to 2018.  Harvard Law School Forum on Corporate Governance.  Kosmas Papadopoulos, ISS Analytics, on Thursday, January 31, 2019.</i><br><br>
        The above observations are supported by Ceres:<br><br>
        “Investors filed at least 140 climate-related shareholder proposals at U.S. companies during the 2020 proxy season, which wrapped up (last) summer.
        In one notable success, 53 percent of shareholders at Chevron Corp. voted (last) summer for a resolution that would push the oil firm to ensure its lobbying activities around climate issues align with the Paris Agreement. This marks the first time a climate proposal won a majority of the company’s shareholder votes.
        …Southern Company — one of the largest electricity producers in the United States — pledged at its annual meeting in May to set a goal to achieve net-zero greenhouse (GHG) emissions by 2050.
        Ceres, a sustainability nonprofit organization, carefully tracked those 140 climate-related shareholder proposals as they were considered at annual general meetings of shareholders…the 140 proposals averaged an approval vote of 30.7 percent...
        56 proposals, or 40 percent of those filed, were withdrawn by the investor filer in return for a commitment by the company to address the issue raised in the proposal."<i>How climate proposals fared during the 2020 proxy season, Ceres, September 14, 2020</i></blockquote><br><br>

        <p><h3><blockquote>3)“Tomorrow, and tomorrow, and tomorrow…The way to dusty death….(Life) is a tale, Told by an idiot, full of sound and fury, Signifying nothing.”(MacBeth)<br><br>
        Our Boot Camp data analysis of EPI, CCPI, or Sustainable Competitiveness ratings indicate that, despite all the ESG investor activity with a large number of U.S. companies, the U.S. remains poorly ranked for environmental or ESG performance amongst all countries in the world.<br><br>
        The country-level ESG analysis demonstrates it is not shareholder activism that improves ESG performance, it is if a population is wealthy (as measured by either Gross Domestic Product per capita or Gross National Income per capita).
        It really says we have to put in a carbon tax to transfer climate cleaning technology and wealth to less developed countries to affect ESG meaningfully.   The higher standard of living in the wealthier countries has come at the demise of the shared environment - a cost that has been hidden until now but can no longer be an afterthought.
        The environment, social goals, and governance get more attention and improvement when the citizens of any given country aren't fighting just to scratch out an existence.<br><br>
        The Bootcamp data analysis further indicates that company-level ESG ratings are not affected all that much by shareholder engagement.<br><br>
        A company’s ESG ratings are improving even if they do not have any ESG shareholder votes. Or staying unchanged despite plenty of engagement<br><br>
        Some company’s ESG ratings have fallen, despite shareholder engagement and proxy votes or commitments made by the besieged companies.
        For Western investors, it is a feel-good, armchair solution.  They think their ESG investments are actually making a difference, improving the world while they obtain investment returns.  And active managers encourage the misperception because ESG has been a godsend for them, a means to try – yet again – to take in money and stem the flood of assets towards passive investing.<br><br>
        And again:<br><br>
        •	Country environmental ratings as well as company ESG ratings have not been meaningfully affected by shareholder activism.<br><br>
        •	But, for improving the environment, it has certainly not yet made a difference or enough of a difference in the quantitative ratings.<br><br>
        •	Just by observation of the daily headlines it is easy to make that same conclusion: many countries experiencing the highest temperatures, disastrous floods, vast forest fires, and the loss of species, etc.<br><br>
        •	And the same for social or governance issues. Most shareholder votes or engagement are relatively benign calls for more reporting and disclosure.  Most initiatives are defeated by significant margins.  And country and company ESG ratings weakly correlate with shareholder engagement.
      </section>
      </div>
 
</body>

</html>