<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="container">

      <!-- START OF NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ESG Project Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">Home Page</a>
              </div>
          </li>
          </ul>
        </div>
    </nav>

    <!-- END OF NAVBAR -->


    <main class="container">
      <section id="main-bio">
          <h1>Data Dictionary</h1>
        <p><mark>COUNTRY-LEVEL ENVIRONMENTAL AND ESG RATINGS</mark><br><br>
            <u>Climate Change Performance Index (CCPI)</u><br><br>
            The Climate Change Performance Index (CCPI) is an independent monitoring tool for tracking countries’ climate protection performance. It aims to enhance transparency in international climate politics and enables comparison of climate protection efforts and progress made by individual countries.<br><br>
            On the basis of standardized criteria, the CCPI currently evaluates and compares the climate protection performance of 57 countries and of the European Union (EU), which are together responsible for more than 90% of global greenhouse gas (GHG) emissions.<br><br>
            On a national scale (from zero to 100), the CCPI evaluates greenhouse gas emissions, usage of renewable energy resources, energy use per capita, and each country’s climate policy.<br><br>
            The CCPI is compiled for the United Nations by Germanwatch, the NewClimate Institute for Climate Policy and Global Sustainability, and the Climate Action Network.<br>
            Years: 2008-2020, produced annually. Denominated in floats/decimals, ranging from the lowest score of zero to the highest of 100.<br><br>

            <u>Environmental Performance Index (EPI)</u><br><br>
The Environmental Performance Index (EPI) provides a data-driven summary of the state of sustainability around the world.<br><br>
Using 32 performance indicators across 11 issue categories, the EPI ranks 180 countries on environmental health and ecosystem vitality.<br><br>
These indicators provide a composite gauge at a national scale (from zero to 100) of how close countries are to established environmental policy targets.<br><br>
The EPI offers a scorecard that highlights leaders and laggards in environmental performance and provides practical guidance for countries that aspire to move toward a sustainable future. The metrics on which the rankings are based come from a variety of sources and represent the most recent published data, often from preceding years.<br><br>
The 2020 EPI analysis does not reflect recent developments, including the dramatic drop in air pollution in 2020 in the wake of the COVID-19 pandemic or the greenhouse gas emissions from the extensive Amazonian fires in 2019.<br><br>
The EPI is jointly produced by the Yale Center for Environmental Law & Policy and the Center for International Earth Science Information Network (CIESIN), part of the Earth Institute at Columbia University.<br><br>
Years: 2000-2020, produced on a bi-annual basis.  Expressed in floats/decimals, ranging from the lowest score of zero to the highest of 100.<br><br>

<u>GDP per capita</u><br><br>
GDP per capita is the sum of gross value added by all resident producers in the economy plus any product taxes (less subsidies) not included in the valuation of output, divided by mid-year population. Growth is calculated from constant price GDP data in local currency. Sustained economic growth increases average incomes and is strongly linked to poverty reduction. GDP per capita provides a basic measure of the value of output per person, which is an indirect indicator of per capita income. Growth in GDP and GDP per capita are considered broad measures of economic growth.<br><br>
The data used in this analysis GDP per capita based on purchasing power parity (PPP). PPP GDP is gross domestic product converted to international dollars using purchasing power parity rates. An international dollar has the same purchasing power over GDP as the U.S. dollar has in the United States. Data are in constant 2017 international dollars.<br><br>
It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources.<br><br>
The source of the information is the World Bank.<br><br>
Years: 2000 – 2020.<br><br>

<u>Gross national income</u><br><br>
The World Bank classifies economies for analytical purposes into four income groups: low, lower-middle, upper-middle, and high income. For this purpose it uses gross national income (GNI) per capita data in U.S. dollars, converted from local currency using the World Bank Atlas method, which is applied to smooth exchange rate fluctuations.<br><br>
Estimates of GNI are obtained from economists in World Bank country units who rely primarily on official data published by the countries; the size of the population is estimated by World Bank demographers from a variety of sources, including the UN’s biennial World Population Prospects.<br><br>
Countries are classified each year on July 1, based on the estimate of their GNI per capita for the previous calendar year. Income groupings remain fixed for the entire World Bank fiscal year (i.e., until July 1 of the following year), even if GNI per capita estimates are revised in the meantime.<br><br>
Years: 2000 – 2020.<br><br>

<u>The Global Sustainable Investment Review (GSIR)</u><br><br>
The Global Sustainable Investment Review (GSIR) maps the state of sustainable investment in the major regional financial markets globally.<br><br>
The reports estimate sustainable investment across the global investment industry, by assets under management and as a percentage of all professionally managed assets, by region and on a world-wide basis.<br><br>
The reports provide a snapshot of sustainable investing across Europe, the United States, Japan, Canada, Australia and New Zealand (Australasia) based on the regional and national reports from GSIA members or in the case of Europe, from secondary industry data.<br><br>
Assets presented have been converted to US dollars.<br><br>
The GSIR is provided by the Global Sustainable Investment Alliance (GSIA), an international collaboration of membership-based sustainable investment organizations around the world.<br><br>
Years: 2012-2020, bi-annually.<br><br>

<u>Population</u><br><br>
The World Bank reports population estimates by country and globally using data from the United Nations Population Division.<br><br>
The UN Population Division receives its information from census reports and other statistical publications from national statistical offices, Eurostat demographic statistics, the population and vital Statistics Report (various years)from the UN Statistical Division, the U.S. Census Bureau: International Database, and the Secretariat of the Pacific Community: Statistics and Demography Programme.<br><br>

<u>Sustainability Index</u><br><br>
The Global Sustainable Competitiveness Index (GSCI) measures the total competitiveness – now, and the potential into the future – of nation-economies on a scale from zero to 100. It is based on 116 quantitative – not qualitative – ESG indicators to exclude any subjectivity.<br><br>
Sustainable competitiveness is the ability to generate and sustain inclusive wealth without diminishing the future capability of sustaining or increasing current wealth levels. The GSCI is a measurement of the competitiveness of nation-states - both as-is, and with respective to future potential.<br><br>
The sustainable competitiveness model is based on five pillars of equal importance, also using zero to 100 scales:<br><br>
•	Natural Capital: the given natural environment, including the availability of resources, and the level of the depletion of those resources. Natural capital is the basis on which a country is built: the physical environment and climatic conditions, combined with the extent of human activities that have or will affect the natural environment. The Natural Capital of a country reflects its ability to sustain the population and the economy, now and into the future.<br><br>
•	Social Capital: health, security, freedom, equality, and life satisfaction within a country. Social consensus in a society is affected by several factors: health care systems and their universal availability/affordability (measuring physical health); income and asset equality, which are correlated to crime levels; demographic structure (to assess the future generational balance within a society); and freedom of expression, freedom from fear and the absence of violent conflicts that are required for businesses to be able to generate value.<br><br>
•	Resource Management: the efficiency of using available resources as a measurement of operational competitiveness in a resource-constraint World. Whether a country does or does not possess resources within its boundaries (natural and other resources), efficiency in using resources – whether domestic or imported - is a cost factor, affecting the competitiveness and thus wealth of nations.<br><br>
•	Intellectual Capital: the capability to generate wealth and jobs through innovation and value-added industries in the globalized markets. Sustainable competitiveness requires high R&D capabilities (based on solid education), and business entrepreneurship. In addition, sustained economic success requires a healthy balance between service and manufacturing sectors.<br><br>
•	Governance Efficiency: Results of core state areas and investments – infrastructure, market and employment structure, the provision of a framework for sustained and sustainable wealth generation. The Governance Sub-Index aims at evaluating the performance of a country’s regulatory framework and infrastructure environment to facilitate sustainable competitiveness. The regulatory and infrastructure framework should enable an environment in which the country’s natural, social, and intellectual capital can flourish to generate new and sustain existing wealth.<br><br>
The Sustainability Index is conducted by SolAbility, an independent sustainability think-tank and advisory, with presence in South Korea and Switzerland.<br><br>
Years: 2014-2020, annually.  The format of the overall GSCI and each of its separately reported sub-indexes is floats/decimals, ranging from the lowest score of zero to the highest of 100.<br><br>

<mark>COMPANY-LEVEL ESG RATINGS</mark><br><br>
<u>MSCI Corporate ESG Ratings</u><br><br>
An MSCI Corporate ESG Rating is designed to measure a company’s resilience to long-term, industry material environmental, social and governance (ESG) risks. Companies are usually rated annually, but MSCI re-rates some companies several times in a year, dependent on their assessment of changing exposure for each firm.<br><br>
For environmental and social risks, MSCI looks at the company’s specific and customized exposure to industry-specific risks, based on its business activities, size of its operations, and where it operates. For governance, MSCI views all the issues that are monitored and evaluated as universal and applicable to all companies, equally:<br><br>
</dl>
<img src="MSCI ESG frame.png"><br><br>
  MSCI uses a rules-based methodology to identify industry leaders and laggards according to their exposure to ESG risks and how well they manage those risks relative to peers.
  Exposure, management, and industry-specific key issues are scored, weighted according to MSCI’s assessment of their time horizon and impact, and normalized relative to industry peers.  Percentiles are calculated based on the full universe of companies with MSCI ESG Ratings (~8,500 companies), which includes approximately 5,600 additional small cap and private companies.
  Artificial Intelligence (AI), machine learning and natural language processing is augmented with analysts to research and rate a company’s exposure to industry-material ESG risks and their ability to manage those risks relative to peers.
  MSCI ESG Ratings range from:<br><br>
  •	Leader (AAA, AA).  Leading in managing risks and opportunities.<br><br>
  •	Average (A, BBB, BB). Mixed or unexceptional track record of managing the most significant ESG risks and opportunities relative to industry peers.<br><br>
  •	to Laggard (B, CCC).  High exposure and failure to manage significant ESG risks.<br><br>
  These assessments of company performance are not absolute but are explicitly intended to be relative to the standards and performance of a company’s industry peers.<br><br>
  Years: 2016-2021.  100 companies drawn from the S&P 500 in descending size of market capitalization, each with five years of equal, annual MSCI Corporate ESG ratings either 2016-2020, or 2017-2021.<br><br>
  Format: Letter-grade.<br><br>
  MSCI is an acronym for Morgan Stanley Capital International. It is an investment research firm that provides stock indexes, portfolio risk and performance analytics, and governance tools to institutional investors.<br><br>
  Morgan Stanley, a global financial services firm, used to be the controlling shareholder of MSCI Inc., but fully divested in 2009.<br><br>
  <u>Ceres’ Climate and Sustainability Shareholder Resolutions Database</u><br><br>
  In 1989, in response to the Exxon Valdez oil spill, a group of socially responsible investors and environmentalists formed the nonprofit organization Ceres (formerly the California Environmental Resources Evaluation System).<br><br>
  Ceres’ Climate and Sustainability Shareholder Resolutions Database tracks shareholder resolutions filed by its Investor Network members, focusing on the climate crisis, energy, water scarcity, and sustainability reporting. These resolutions are part of broader investor efforts to encourage companies to address the full scope of environmental, social and governance issues.<br><br>
  Ceres tracks all shareholder proposals on proxy statements relating to environmental, social, and sustainable governance (ESG) issues beginning with 2015. Proposals withdrawn in return for a commitment are only included if they are climate-related. For years prior to 2015, Ceres tracks only climate-related shareholder proposals, including all proposals that were withdrawn by the filer in return for a commitment by the company.<br><br>
  These shareholder proposals are filed by some of North America's largest public pension funds and  religious, labor, foundation, and socially responsible investors. Many filers are supported by investor networks including the Ceres Investor Network and the Interfaith Center on Corporate Responsibility (ICCR). Nearly all the resolutions are filed with companies headquartered in North America.





            </p>
    </section>

      </main>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>