<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

<body>

  <div class="container">
    <!-- START OF NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ESG Project Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Analysis
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/country/">Country ESG Ratings/Analysis</a>
              <a class="dropdown-item" href="/company/">Corporate ESG Ratings/Analysis</a>
              <a class="dropdown-item" href="/conclusion/">Conclusion: ESG is too little, too late, too ineffective</a>
              <a class="dropdown-item" href="/dictionary/">Data Dictionary</a>
              <a class="dropdown-item" href="/api/v1.0/country-ESG">Country Data API v1.0</a>
              <a class="dropdown-item" href="/api/v1.0/company-ESG">Company API v1.0</a>
              </div>
          </li>
          </ul>
        </div>
    </nav>

    <!-- END OF NAVBAR -->

    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>The Environmental, Social, Governance (ESG) Goldrush:<br><br>Too little, too late, too ineffective</h1>
        <p>On this and the following pages, explore the country and company-level analysis of whether ESG investors and actions by their asset managers have made a noticeable impact on country or company ESG performance</p>
        <img src="static/assets/Hell heaven.PNG">
    </div>
      <dl>
     <h2><dt>What is ESG?</dt></h2>
      </dl>
      <img src="static/assets/nutshell_van.PNG">
    </div>

    <div class="row" style="height: 400px">
      <div class="col-md-12">
        <h2><dt>The Siren Song of ESG<dt></h2>
          <!-- start of Marquee -->
          <marquee scrollamount = "10" bgcolor= "cyan" direction = "up" height = "50%">
            <p><h3>"Invest today.  Change tomorrow....Invest for a better future."</p><p style="font-size:75%;">(Aberdeen Standard Investments)</p><br><br>
            <p style="color:blue;">"Responsible investing drives better outcomes for...our communities and the planet."</p><p style="font-size:75%;">(Nuveen)</p><br><br>
            <p>"...we are helping our investors meet their sustainability objectives in a way that only active management can."</p><p style="font-size:75%">(PGIM/Prudential Financial)</p><br><br>
            <p style="color:red;">"...in pursuit of a better world...improving long-term societal outcomes."</p><p style="font-size:75%">(Calvert)</p><br><br>
            <p>"...you can seek to generate measurable sustainable outcomes"</p><p style="font-size:75%">(iShares by BlackRock)</p><br><br>
            <p style="color:yellow;">"ESG investing is an essential part of the solution to a sustainable future."</p><p style="font-size:75%">(Invesco)</p><br><br>
            <p>"We have the power to help create a sustainable and more prosperous world for all..."</p><p style="font-size:75%">(Schroders)</p><br><br>
            <p style="color:blue;">"...incorporating ESG research...improves both investment and societal outcomes."</p><p style="font-size:75%">(Parnassus)</p><br><br>
            <p>"helping the world’s investors achieve better outcomes for the people they serve by incorporating ESG value drivers ...working to build a more resilient and inclusive future"</p><p style="font-size:75%">(State Street)</p><br><br>
            <p style="color:red;">"AQR ...employ(s) sustainable themes that may...achieve a specific ESG objective."</p><br><br>
            <p>"Investing with sustainability goals in mind allows investors to influence the way the economy works or how a company behaves..."</p><p style="font-size:75%">(Allianz Global Investors)</p><br><br>
            <p style="color:yellow;">"...have a positive impact while generating financial return"</p><p style="font-size:75%">(Goldman Sachs Asset Management)</h3></p>

            </marquee>
          <!-- End of Marquee -->
    
    <div id="gsir_plot"></div>
          <script src="{{ url_for('static', filename='js/gsir_plots.js') }}"></script>
        
          <p><h3><blockquote>As the GSIR data indicates, the ESG Goldrush is in the West, and not the East.<br><br>
            ESG investing is not occurring at any significant level outside the U.S. and Europe, and while ESG assets under management increased between 2018 and 2020, primarily from the U.S. ESG goldrush, it decreased in Europe.
            That means a great deal of the world ignores ESG.<br><br>  According to Statista:<br><br>
            •	Chinese-listed companies account for only 5.4% of total world equity market values.<br><br>
            •	In 2020, the U.S. accounts for 15.9% of global GDP, decreasing to 14.76% by 2026.<br><br>
            •	Europe is currently ~17% of global GDP and also decreasing in relative importance.<br><br>
            •	China alone is 18.34% of global GDP, increasing to 20.06% by 2026.<br><br></blockquote>

              The country and company analyses on the following pages strongly indicate the ESG promises have been largely unfulfilled.
            </div>
          </div>
      </div>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->

  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>
</body>

</html>