<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

<body>

  <div class="container">
    <!-- START OF NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ESG Project Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dictionary/">Data Dictionary</a>
              </div>
          </li>
          </ul>
        </div>
    </nav>

    <!-- END OF NAVBAR -->

    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>The Environmental, Social, Governance (ESG) Goldrush:<br><br>Too little, too late, too ineffective</h1>
        <p>Explore the country and company-level analysis of whether ESG investors and actions by their asset managers have made a noticeable impact on country or company ESG performance</p>
        <img src="static/assets/Hell heaven.PNG">
    </div>
      <dl>
     <h2><dt>What is ESG?</dt></h2>
      </dl>
      <img src="static/assets/nutshell_van.PNG">
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><dt>The Siren Song of ESG<dt></h2>
          <!-- start of Marquee -->
          <marquee scrollamount = "5" bgcolor= "cyan" direction = "up">
            <p><h3>"Invest today.  Change tomorrow....Invest for a better future." (Aberdeen Standard Investments)</p>
              <p>"Responsible investing drives better outcomes for...our communities and the planet." (Nuveen)</p>
              <p>"...we are helping our investors meet their sustainability objectives in a way that only active management can." (PGIM/Prudential Financial)</p>
              <p>"...in pursuit of a better world...improving long-term societal outcomes." (Calvert)</p>
              <p>"...you can seek to generate measurable sustainable outcomes" (iShares by BlackRock)
              <p> "ESG investing is an essential part of the solution to a sustainable future." (Invesco)</p>
              <p>"We have the power to help create a sustainable and more prosperous world for all..."(Schroders)</p>
              <p>"...incorporating ESG research...improves both investment and societal outcomes." (Parnassus)</p>
              <p>"helping the world’s investors achieve better outcomes for the people they serve by incorporating ESG value drivers ...working to build a more resilient and inclusive future" (State Street)</p>
              <p>"AQR ...employ(s) sustainable themes that may...achieve a specific ESG objective."</h3></p>

            </marquee>
          <!-- End of Marquee -->

      </div>
          <div id="gsir_plot"></div> 
          <script src="{{ url_for('static', filename='js/gsir_plots.js') }}"></script>
    </div>
    <dl></dl>

    <h2><dt>Country Environment/ESG Scores Increase by Wealth, not Investor Action</dt></h2></dl>
    <div class="plots">
      <!-- <div class="plots__plot"></div> -->
      <select id="selDataset">
      <option value="dataset1">2020 EPI</option>
      <option value="dataset2">2018 EPI</option>
      <option value="dataset3">2016 EPI</option>
      <option value="dataset4">2014 EPI</option>
      <option value="dataset5">2012 EPI</option>
      <option value="dataset6">2010 EPI</option>
      <option value="dataset7">2008 EPI</option>
      <option value="dataset8">2006 EPI</option>
      <option value="dataset9">2004 EPI</option>
      <option value="dataset10">2002 EPI</option>
      <option value="dataset11">2000 EPI</option>
      <option value="dataset12">2020 CCPI</option>
      <option value="dataset13">2018 CCPI</option>
      <option value="dataset14">2016 CCPI</option>
      <option value="dataset15">2014 CCPI</option>
      <option value="dataset16">2012 CCPI</option>
      <option value="dataset17">2010 CCPI</option>
      <option value="dataset18">2008 CCPI</option>
      <option value="dataset19">2020 Sustainable Competitiveness</option>
      <option value="dataset20">2019 Sustainable Competitiveness</option>
      <option value="dataset21">2018 Sustainable Competitiveness</option>
      <option value="dataset22">2017 Sustainable Competitiveness</option>
      <option value="dataset23">2016 Sustainable Competitiveness</option>
      <option value="dataset24">2015 Sustainable Competitiveness</option>
      <option value="dataset25">2014 Sustainable Competitiveness</option>
      </select>
    
        <div id="plot"></div>
        <img src="static/assets/country_graph_key.png" alt="country graph key" width = "700" height = "600">
    
      <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    </div>
    <section class="w3-container">
      <p><h3><blockquote><b>EPI concludes:"...good policy results are associated with wealth (GDP per capita), meaning that economic prosperity makes it possible for nations to
      invest in policies and programs that lead to desirable outcomes...</b><br><br>

      Second, the pursuit of economic prosperity – manifested in industrialization and urbanization – often means more pollution and other strains on
      ecosystem vitality, especially in the developing world, where air and water emissions remain significant. But at the same time, the data suggest countries
      need not sacrifice sustainability for economic security or vice versa."</h3></blockquote></p>
      <p><h3><blockquote>CCPI:"...it is important to note that more than half of the CCPI ranking indicators are qualified in relative terms (better/worse) rather than absolute.
      <b>Therefore even those countries with high rankings have no reason to sit back and relax. On the contrary, the results illustrate that even if all countries were as committed as
      the current frontrunners, efforts would still not be sufficient to prevent dangerous climate change...Even the goals of net
      zero by 2050 or 2060 from Asia are insufficient for a 1.5°C world."</b></h3></blockquote><p>
      <p><blockquote><h3>GSCI: "Sustainable competitiveness means that current wealth levels are not in danger of being reduced or diminished through over-exploitation of resources (i.e.
        natural and human resources), the lack of innovation investments required to compete in the globalised markets (i.e. education), or the discrimination,
        marginalisation or exploitation of segments of a society.<br><br>
        The leading nations on the GSCI ranking are mostly high-income countries, suggesting a certain <b>correlation between Sustainable Competitiveness score and GDP
        per capita, or income levels (high income = high sustainability).</b>The same is true when visualizing average deviations of GDP per capita and the sustainable
        competitiveness score.<br><br>
        ... Resource economies (e.g. Saudi Arabia, Kuwait) are ranked significantly below
        their GDP ranks. This indicates that the correlation is not from GDP to sustainable competitiveness, but rather from sustainable competitiveness to income levels. In
        other words: <b>higher sustainable competitiveness can be associated with higher income levels."</b></h3></blockquote></p>
      </section>
    </dl>
    <h2><dt>Corporate ESG Scores Increase with or without Investor ESG Actions</dt></h2>
    <dl>
<p><blockquote><h3>"Currently, the <b>(Corporate ESG) ratings are inconsistent and incomplete,</b>an indication of the work that lies ahead. A Wall Street Journal analysis of ESG grades issued for nearly 1,500 companies by three rating firms found that nearly two-thirds—942 companies—got different grades from different raters. The Journal collected ratings from the websites of three prominent ratings firms in May—Refinitiv Holdings Ltd., MSCI Inc. and Sustainalytics—and identified 1,469 companies scored by all three.  <b>Nearly a third of the companies were deemed ESG leaders by one or more rating firms, but labeled ESG laggards by one or another rater.</b> Credit ratings, by contrast, are broadly consistent." (WSJ, August 10, 2021)</h3></blockquote></h3>
<br/>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/dsx2vdn7gpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </iframe>
        </div>
      <div class="plots">
      
        <select id="selCompany">
          <option value="set1">3M Company</option>
          <option value="set2">Abbott Laboratories</option>
          <option value="set3">Activision Blizzard Inc.</option>
          <option value="set4">Adobe Inc.</option>
          <option value="set5">Air Products and Chemicals Inc.</option>
          <option value="set6">Align Technology Inc.</option>
          <option value="set7">Altria Group Inc</option>
          <option value="set8">American International Group Inc.</option>
          <option value="set9">American Tower Corporation</option>
          <option value="set10">Amgen Inc.</option>
          <option value="set11">Analog Devices Inc.</option>
          <option value="set12">Anthem Inc.</option>
          <option value="set13">Apple Inc.</option>
          <option value="set14">Applied Materials Inc.</option>
          <option value="set15">Automatic Data Processing Inc.</option>
          <option value="set16">Berkshire Hathaway Inc. </option>
          <option value="set17">Biogen Inc.</option>
          <option value="set18">Booking Holdings Inc.</option>
          <option value="set19">Boston Scientific Corporation</option>
          <option value="set20">Bristol-Myers Squibb Company</option>
          <option value="set21">Charles Schwab Corporation</option>
          <option value="set22">Charter Communications Inc. Class A</option>
          <option value="set23">Chipotle Mexican Grill Inc.</option>
          <option value="set24">Chubb Limited</option>
          <option value="set25">Cigna Corporation</option>
          <option value="set26">Cisco Systems Inc.</option>
          <option value="set27">Colgate-Palmolive Company</option>
          <option value="set28">Comcast Corporation Class A</option>
          <option value="set29">ConocoPhillips</option>
          <option value="set30">Costco Wholesale Corporation</option>
          <option value="set31">Crown Castle International Corp</option>
          <option value="set32">CSX Corporation</option>
          <option value="set33">Danaher Corporation</option>
          <option value="set34">Deere & Company</option>
          <option value="set35">DexCom Inc.</option>
          <option value="set36">Dollar General Corporation</option>
          <option value="set37">Duke Energy Corporation</option>
          <option value="set38">eBay Inc.</option>
          <option value="set39">Ecolab Inc.</option>
          <option value="set40">Edwards Lifesciences Corporation</option>
          <option value="set41">Emerson Electric Co.</option>
          <option value="set42">Equinix Inc.</option>
          <option value="set43">Exelon Corporation</option>
          <option value="set44">Exxon Mobil Corporation</option>
          <option value="set45">Ford Motor Company</option>
          <option value="set46">Freeport-McMoRan Inc.</option>
          <option value="set47">Gilead Sciences Inc.</option>
          <option value="set48">Global Payments Inc.</option>
          <option value="set49">Goldman Sachs Group Inc.</option>
          <option value="set50">HCA Healthcare Inc</option>
          <option value="set51">IDEXX Laboratories Inc.</option>
          <option value="set52">Illumina Inc.</option>
          <option value="set53">International Business Machines Corporation</option>
          <option value="set54">Intuit Inc.</option>
          <option value="set55">Intuitive Surgical Inc.</option>
          <option value="set56">Johnson & Johnson</option>
          <option value="set57">Johnson Controls International plc</option>
          <option value="set58">Kimberly-Clark Corporation</option>
          <option value="set59">Linde plc</option>
          <option value="set60">Lockheed Martin Corporation</option>
          <option value="set61">Mastercard Incorporated Class A</option>
          <option value="set62">McDonald's Corporation</option>
          <option value="set63">Merck & Co. Inc.</option>
          <option value="set64">Micron Technology Inc.</option>
          <option value="set65">Microsoft Corporation</option>
          <option value="set66">Mondelez International Inc. Class A</option>
          <option value="set67">Morgan Stanley</option>
          <option value="set68">Newmont Corporation</option>
          <option value="set69">NextEra Energy Inc.</option>
          <option value="set70">NIKE Inc. Class B</option>
          <option value="set71">Oracle Corporation</option>
          <option value="set72">Philip Morris International Inc.</option>
          <option value="set73">PNC Financial Services Group Inc.</option>
          <option value="set74">Procter & Gamble Company</option>
          <option value="set75">Progressive Corporation</option>
          <option value="set76">Prologis Inc.</option>
          <option value="set77">Public Storage</option>
          <option value="set78">Raytheon Technologies Corporation</option>
          <option value="set79">Roper Technologies Inc.</option>
          <option value="set80">ServiceNow Inc.</option>
          <option value="set81">Sherwin-Williams Company</option>
          <option value="set82">Southern Company</option>
          <option value="set83">Starbucks Corporation</option>
          <option value="set84">Stryker Corporation</option>
          <option value="set85">T. Rowe Price Group</option>
          <option value="set86">Target Corporation</option>
          <option value="set87">TE Connectivity Ltd.</option>
          <option value="set88">Texas Instruments Incorporated</option>
          <option value="set89">Thermo Fisher Scientific Inc.</option>
          <option value="set90">TJX Companies Inc</option>
          <option value="set91">T-Mobile US Inc.</option>
          <option value="set92">Truist Financial Corporation</option>
          <option value="set93">Twitter Inc.</option>
          <option value="set94">U.S. Bancorp</option>
          <option value="set95">Union Pacific Corporation</option>
          <option value="set96">UnitedHealth Group Incorporated</option>
          <option value="set97">Vertex Pharmaceuticals Incorporated</option>
          <option value="set98">Visa Inc. Class A</option>
          <option value="set99">Walt Disney Company</option>
          <option value="set100">Simon Property Group</option>
        </select>
          <div id="companyplot"></div>
        <script src="{{ url_for('static', filename='js/company_plots.js') }}"></script>
      </div>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  
  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>
</body>

</html>