<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GDP per Capita vs. EPI</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>

</head>

<select id="selDataset">
  <option value="dataset1">2020 EPI</option>
  <option value="dataset2">2018 EPI</option>
  <option value="dataset3">2016 EPI</option>
  <option value="dataset4">2014 EPI</option>
  <option value="dataset5">2012 EPI</option>
  <option value="dataset6">2010 EPI</option>
  <option value="dataset7">2008 EPI</option>
  <option value="dataset8">2006 EPI</option>
  <option value="dataset9">2004 EPI</option>
  <option value="dataset10">2002 EPI</option>
  <option value="dataset11">2000 EPI</option>
  <option value="dataset12">2020 CCPI</option>
  <option value="dataset13">2018 CCPI</option>
  <option value="dataset14">2016 CCPI</option>
  <option value="dataset15">2014 CCPI</option>
  <option value="dataset16">2012 CCPI</option>
  <option value="dataset17">2010 CCPI</option>
  <option value="dataset18">2008 CCPI</option>
  <option value="dataset19">2020 Sustainable Competitiveness</option>
  <option value="dataset20">2019 Sustainable Competitiveness</option>
  <option value="dataset21">2018 Sustainable Competitiveness</option>
  <option value="dataset22">2017 Sustainable Competitiveness</option>
  <option value="dataset23">2016 Sustainable Competitiveness</option>
  <option value="dataset24">2015 Sustainable Competitiveness</option>
  <option value="dataset25">2014 Sustainable Competitiveness</option>
</select>
<body>
  <div id="plot"></div> 
  <img src="static/assets/country_graph_key.png" alt="country graph key" width = "700" height = "600">


  <div id="companyplot"></div> 

  <select id="selCompany">
    <option value="set1">2020 EPI</option>
  </select>

  

  <script src="{{ url_for('static', filename='js/company_plots.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
</body>
</html>
